@charset "UTF-8";
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto flex", sans-serif;
}

body,
html {
  background-color: #f1f1f1;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin-top: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100px;
  width: 100%;
  background: #f4bd02;
  position: fixed;
  top: 0;
  z-index: 900;
  align-items: center;
  filter: drop-shadow(0px 1px 1px #171717);
}
header .logo-link {
  display: flex;
  width: 200px;
  height: 100%;
}
header .logo-link img {
  width: 100px;
  aspect-ratio: 1/1;
  margin: auto;
}

.navbar {
  width: 63%;
  min-width: 400px;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  align-items: center;
}
.navbar ul li {
  padding: 10px 15px;
  border-radius: 20px;
  transition: all 0.3s;
  color: rgba(18, 18, 18, 0.9333333333);
  font-weight: 700;
}
.navbar ul li.active {
  color: #555555;
}
.navbar ul li:hover {
  color: #555555;
}

.menu-icon {
  height: 25px;
  width: 35px;
  margin-right: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.menu-icon span {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background-color: #171717;
  transition: all 0.3s;
}

.site-content {
  transition: transform 0.3s ease-in;
}

.with-menu .site-content {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in;
}

p {
  line-height: 30px;
}

h1 {
  font-size: 30px;
  padding: 0px 0 12px;
  position: relative;
  padding-right: 30px;
  margin-bottom: 20px;
  color: #f1f1f1;
  text-transform: uppercase;
  font-family: "Roboto flex", sans-serif;
}

h2 {
  font-size: 25px;
  padding: 0px 20px 11px 0;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 20px;
  font-family: "Roboto flex", sans-serif;
}
h2::before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 1px;
  background-color: #f4bd02;
  border-radius: 2px;
}
h2::after {
  content: "";
  width: 30%;
  height: 5px;
  position: absolute;
  bottom: 0px;
  left: 0;
  background-color: #f4bd02;
  border-radius: 6px;
}

.accueil {
  width: 100%;
  height: calc(100vh - 100px);
  background: radial-gradient(circle at 0% 0%, rgb(76, 76, 76) 0%, rgb(23, 23, 23) 41%, rgb(23, 23, 23) 100%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.accueil .img_accueil {
  align-self: flex-end;
  bottom: 0;
  opacity: 0.8;
  max-height: 90%;
}
.accueil .accueil-text {
  width: clamp(300px, 55%, 500px);
  background-color: rgba(18, 18, 18, 0);
  border-radius: 20px;
  padding: 40px 0px 20px;
  position: relative;
  opacity: 1;
}
.accueil .accueil-text::before {
  content: "";
  width: 60%;
  height: 3px;
  position: absolute;
  top: 20px;
  background-color: #f4bd02;
  border-radius: 2px;
}
.accueil .accueil-text::after {
  content: "";
  width: 20%;
  height: 5px;
  position: absolute;
  top: 19px;
  background-color: #f4bd02;
  border-radius: 6px;
}
.accueil .accueil-text h1 {
  width: 100%;
  color: #f1f1f1;
  margin-bottom: 0px;
  padding-bottom: 5px;
}
.accueil .accueil-text p {
  font-size: 25px;
  margin-bottom: 10px;
  color: #f1f1f1;
}
.accueil .accueil-text p span {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.àpropos {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 100px 0;
}
.àpropos .àpropos-txt {
  width: clamp(300px, 70%, 500px);
  margin-top: 20px;
}
.àpropos .àpropos-txt p {
  margin-top: 20px;
}
.àpropos .àpropos-txt p:first-of-type {
  display: inline;
}
.àpropos img {
  width: 300px;
  box-shadow: 10px -10px 0 #232323;
}

.competences {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 100px 0;
  background: #232323;
}
.competences h2 {
  color: #f1f1f1;
}
.competences .competences_text {
  width: clamp(300px, 70%, 500px);
  color: #f1f1f1;
}
.competences .competences_text a {
  margin-top: 20px;
  display: block;
  padding: 10px 15px;
  background: #f4bd02;
  text-align: center;
  color: #232323;
  border-radius: 10px;
}

.success {
  padding: 10px 25px;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  position: fixed;
  top: 100px;
  right: 5px;
  z-index: 800;
  -webkit-animation: animMessage 4s linear forwards;
          animation: animMessage 4s linear forwards;
}

.error {
  padding: 10px 25px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  position: fixed;
  top: 100px;
  right: 5px;
  z-index: 800;
  -webkit-animation: animMessage 4s linear forwards;
          animation: animMessage 4s linear forwards;
}

@-webkit-keyframes animMessage {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animMessage {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.container-icon {
  display: flex;
  width: clamp(300px, 60%, 600px);
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container-icon div {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: 2px solid #f4bd02;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s;
  position: relative;
}
.container-icon div svg {
  width: 70% !important;
  height: 70% !important;
  fill: #f4bd02 !important;
}
.container-icon div p {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: all 0.3s;
  text-align: center;
  line-height: 80px;
  font-family: "Roboto flex", sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.container-icon div:hover {
  background-color: #f4bd02;
}
.container-icon div:hover p {
  transform: translateY(0);
  transition: all 0.3s;
}

.header_section {
  width: 100%;
  margin-bottom: 30px;
}
.header_section h2 {
  margin: auto;
}

.portfolio {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 100px 0;
  background: #f1f1f1;
}
.portfolio .portfolio_container {
  width: 80%;
  min-width: 300px;
  max-width: 1200px;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}
.portfolio h2 {
  margin: auto;
}

.projet {
  position: relative;
  border-radius: 10px;
}
.projet img {
  width: 300px;
  cursor: pointer;
  border-radius: 10px;
}
.projet::before {
  content: "+";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f4bd02;
  transition: all 0.3s;
  opacity: 0;
  font-size: 200px;
  line-height: 88%;
  text-align: center;
  color: #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.projet:hover::before {
  transition: all 0.3s;
  opacity: 1;
}

.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(185, 185, 185, 0.445);
  z-index: 999;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.popup:target {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}
.popup .pop_projet {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  width: clamp(320px, 80%, 1000px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 7px 7px 10px rgb(163, 163, 163);
}
.popup .pop_projet h2 {
  padding-right: 0;
}
.popup .pop_projet .close {
  position: absolute;
  top: 5px;
  right: 5px;
}
.popup .pop_projet a {
  display: inline-block;
  width: 50px;
}
.popup .pop_projet .material-symbols-outlined {
  font-size: 30px;
}
.popup .pop_projet .iconify {
  width: 30px;
  height: 30px;
}
.popup .pop_projet img {
  width: 60%;
  margin: 20px auto;
  min-width: 260px;
}
.popup .pop_projet p {
  margin: 10px 10px;
  line-height: 1;
}

.contact {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 100px 0;
  background-color: #f4bd02;
}
.contact h2::before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 1px;
  background-color: #171717;
  border-radius: 2px;
}
.contact h2::after {
  content: "";
  width: 30%;
  height: 5px;
  position: absolute;
  bottom: 0px;
  left: 0;
  background-color: #171717;
  border-radius: 6px;
}

.contact_form {
  width: 50%;
  min-width: 300px;
  margin: 25px auto 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 50px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  grid-auto-flow: row;
}

.field-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.textArea {
  grid-column: 1/span 2;
  width: 100%;
}
.textArea textarea {
  height: 120px;
  resize: none;
}

.submit {
  grid-column: 2/3;
  width: 100%;
  position: relative;
}
.submit button {
  color: #f4bd02;
  font-weight: 700;
  position: absolute;
  right: 0;
  padding: 10px 25px;
  text-transform: uppercase;
  border: none;
  background-color: #171717;
  border-radius: 10px;
  cursor: pointer;
}

.form-field {
  padding: 5px 5px 0px 2px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #333;
  font-size: 1em;
  font-family: "Roboto flex", sans-serif;
  font-weight: 700;
}

.mentions-legales {
  padding: 100px 0;
  width: 80%;
  min-width: 300px;
  margin: auto;
}
.mentions-legales h1 {
  color: #000;
  text-align: center;
}
.mentions-legales h2 {
  margin-top: 30px;
  width: 100%;
}
.mentions-legales h2::after {
  display: none;
}
.mentions-legales h2::before {
  display: none;
}

footer {
  color: #f1f1f1;
  background-color: #232323;
  min-height: 100px;
  padding: 10px 10px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 910px) {
  .contact_form {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-flow: row;
  }
  .textArea {
    grid-column: 1/2;
    width: 100%;
  }
  .submit {
    grid-column: 1/2;
  }
  .submit button {
    width: 100%;
  }
}
@media screen and (max-width: 820px) {
  .accueil {
    padding: 20px 10px;
    align-items: flex-start;
    width: 100%;
  }
  .accueil .img_accueil {
    position: absolute;
    bottom: 0;
    width: 51%;
    min-width: 310px;
    align-self: center;
    justify-self: end;
  }
  .menu-icon {
    display: flex;
  }
  .navbar {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: #f4bd02;
    top: 100px;
    right: 0;
    min-width: unset;
    transform: translateX(100vw);
    transition: transform 0.3s ease-in;
    border-top: 2px solid #171717;
  }
  .navbar ul {
    flex-direction: column;
    justify-content: flex-start;
  }
  .navbar ul li {
    padding: 30px 0;
  }
  .with-menu .navbar {
    transform: translateX(0);
    transition: transform 0.3s ease-in;
  }
  .with-menu .menu-icon span:nth-child(1) {
    transform: translateY(10px) rotateZ(-45deg);
  }
  .with-menu .menu-icon span:nth-child(2) {
    opacity: 0;
  }
  .with-menu .menu-icon span:nth-child(3) {
    transform: translateY(-11px) rotateZ(45deg);
  }
}
@media screen and (max-width: 820px) and (min-height: 900px) {
  .accueil-text {
    transform: translateY(17vh);
  }
}
@media screen and (max-height: 650px) {
  .accueil-text p {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 430px) {
  .pop_projet h2 {
    font-size: 20px;
  }
}/*# sourceMappingURL=app.css.map */