@charset "UTF-8";
.shapedividers_com-6248 {
  overflow: hidden;
  position: relative;
}

.shapedividers_com-6248::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 1;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 474% 109px;
  background-position: 48% 0%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100.8 22.4" preserveAspectRatio="none"><path fill="%23ffde59" d="M101 22L94 8 84 18 76 7l-9 9-7-15-10 17-8-16-8 9-9 11-8-20-9 14-8 6V0h101z"/></svg>');
  transition: all 0.3s;
}

@media (min-width: 768px) {
  .shapedividers_com-6248::before {
    background-size: 400% 109px;
    background-position: 56% 0%;
  }
}
@media (min-width: 1025px) {
  .shapedividers_com-6248::before {
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 240% 157px;
    background-position: 43% 0%;
  }
}
@media (min-width: 2100px) {
  .shapedividers_com-6248::before {
    background-size: 376% calc(2vw + 157px);
  }
}
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto flex", sans-serif;
}

body,
html {
  background-color: #f1f1f1;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin-top: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100px;
  width: 100%;
  background: #232323;
  position: fixed;
  top: 0;
  z-index: 900;
  align-items: center;
}
header .logo-link {
  display: flex;
  width: 200px;
  height: 100%;
  background-color: #ffde59;
}
header .logo-link img {
  width: 100px;
  aspect-ratio: 1/1;
  margin: auto;
}

.navbar {
  width: 40%;
  min-width: 400px;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  align-items: center;
}
.navbar ul li {
  padding: 10px 15px;
  border-radius: 20px;
  transition: all 0.3s;
  color: #a3a3a3;
}
.navbar ul li.active {
  color: #ffde59;
}
.navbar ul li:hover {
  color: #ffde59;
}

.menu-icon {
  height: 25px;
  width: 35px;
  margin-right: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.menu-icon span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #ffde59;
}

.site-content {
  transition: transform 0.3s ease-in;
}

.with-menu .site-content {
  transform: translateX(-250px);
  transition: transform 0.3s ease-in;
}

p {
  line-height: 30px;
}

h2 {
  font-size: 25px;
  padding: 15px 0 12px;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-right: 30px;
  margin-bottom: 20px;
}
h2::before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 1px;
  background-color: #ffde59;
  border-radius: 2px;
}
h2::after {
  content: "";
  width: 30%;
  height: 5px;
  position: absolute;
  bottom: 0px;
  left: 0;
  background-color: #ffde59;
  border-radius: 6px;
}

.accueil {
  width: 100%;
  height: calc(100vh - 100px);
  background-size: cover;
  background-position: center;
}

.àpropos {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 100px 0;
}
.àpropos .àpropos-txt {
  width: clamp(300px, 70%, 500px);
  margin-top: 20px;
}
.àpropos .àpropos-txt p {
  margin-top: 20px;
}
.àpropos .àpropos-txt p:first-of-type {
  display: inline;
}
.àpropos img {
  width: 300px;
  box-shadow: 10px -10px 0 #232323;
}

.competences {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 100px 0;
  background: #232323;
}
.competences .competences_text {
  width: clamp(300px, 70%, 500px);
  color: #f1f1f1;
}

.grid-icon {
  display: grid;
  grid-template-columns: repeat(auto-fill, 80px);
  width: 500px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.grid-icon div {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: 2px solid #ffde59;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s;
  position: relative;
}
.grid-icon div svg {
  width: 70% !important;
  height: 70% !important;
  fill: #ffde59 !important;
}
.grid-icon div p {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: all 0.3s;
  text-align: center;
  line-height: 80px;
  font-family: "Roboto flex", sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.grid-icon div:hover {
  background-color: #ffde59;
}
.grid-icon div:hover p {
  transform: translateY(0);
  transition: all 0.3s;
}

.header_section {
  width: 100%;
}
.header_section h2 {
  margin: auto;
}

.portfolio {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 100px 0;
  background: #f1f1f1;
}
.portfolio .portfolio_container {
  width: 80%;
  min-width: 300px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 10px;
  grid-auto-flow: row;
  justify-content: center;
  margin-top: 30px;
}
.portfolio h2 {
  margin: auto;
}

.projet {
  position: relative;
  border-radius: 10px;
}
.projet img {
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}
.projet::before {
  content: "+";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffde59;
  transition: all 0.3s;
  opacity: 0;
  font-size: 200px;
  line-height: 100%;
  text-align: center;
  color: #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}
.projet:hover::before {
  transition: all 0.3s;
  opacity: 1;
}

.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(185, 185, 185, 0.445);
  z-index: 999;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.popup:target {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}
.popup .pop_projet {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  width: clamp(300px, 50%, 1000px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 7px 7px 10px rgb(163, 163, 163);
}
.popup .pop_projet h2 {
  padding-right: 0;
}
.popup .pop_projet .close {
  position: absolute;
  top: 5px;
  right: 5px;
}
.popup .pop_projet a {
  display: inline-block;
  width: 50px;
}
.popup .pop_projet .material-symbols-outlined {
  font-size: 30px;
}
.popup .pop_projet .iconify {
  width: 30px;
  height: 30px;
}
.popup .pop_projet img {
  width: 60%;
  margin: 20px auto;
  min-width: 260px;
}
.popup .pop_projet p {
  margin: 15px 10px;
}

.contact {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 100px 0;
  background-color: #ececec;
}

.contact_form {
  width: 50%;
  min-width: 300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 50px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  grid-auto-flow: row;
}

.field-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.textArea {
  grid-column: 1/span 2;
  width: 100%;
}
.textArea textarea {
  height: 120px;
  resize: none;
}

.submit {
  grid-column: 2/3;
  width: 100%;
  position: relative;
}
.submit button {
  position: absolute;
  right: 0;
  padding: 10px 25px;
  text-transform: uppercase;
  border: none;
  background-color: #ffde59;
  border-radius: 10px;
  cursor: pointer;
}

.form-field {
  padding: 5px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #333;
  font-size: 1em;
  font-family: "Roboto flex", sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 910px) {
  .contact_form {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-flow: row;
  }
  .textArea {
    grid-column: 1/2;
    width: 100%;
  }
  .submit {
    grid-column: 1/2;
  }
  .submit button {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .menu-icon {
    display: flex;
  }
  .navbar {
    position: fixed;
    width: 250px;
    height: calc(100vh - 100px);
    background-color: #232323;
    top: 100px;
    right: 0;
    min-width: unset;
    transform: translateX(250px);
    transition: transform 0.3s ease-in;
    border-left: 2px solid #ffde59;
    border-top: 2px solid #ffde59;
  }
  .navbar ul {
    flex-direction: column;
    justify-content: flex-start;
  }
  .navbar ul li {
    padding: 30px 0;
  }
  .with-menu .navbar {
    transform: translateX(0);
    transition: transform 0.3s ease-in;
  }
}/*# sourceMappingURL=app.css.map */