{% extends 'base.html.twig' %}


{% block title %}Guillaume Robert | Portfolio
{% endblock %}

{% block body %}

	<section class="accueil">


		<div class="accueuil-text">
			<h1>{{ config.firstname ~ " " ~ config.name}}</h1>

		</div>


		<img src="{{ asset('assets/portfolio.png') }}" alt="photo Guillaume Robert">


	</section>


{% endblock %}
